.header{
  background-color: rgb(255, 102, 0);
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.block-wrap{
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  a{
    text-align: center;
    flex: 0.2;
    display: inline-block;
    color: white;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.5rem;
    &:hover{
      background-color: rgb(253, 129, 47);
    }
  }
}

@media screen and (max-width:476px) {
  .header{
    a{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.active-header{
  background-color: rgb(253, 129, 47);
}

.header-img{
  margin-left: 1.25rem;
  height: 40px;
  img{
    width: 40px;
  }
  
}