.header{
  background-color: rgb(255, 102, 0);
  position: fixed;
  width: 100%;
}

.block-wrap{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  a{
    display: block;
    color: white;
    padding: 0.9375rem;
    font-size: 1.5rem;
    &:hover{
      background-color: rgb(253, 129, 47);
    }
  }
}

.header-img{
  position: absolute;
  height: 100%;
  img{
    height: 100%;
  }
}