.article-card{
  // width: 34.375rem;
  // height: 125px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0px .5px 1px 0px grey;
  background-color: #eee;
  header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.375rem;
  }
  .article-summary{
    color: rgba(0,0,0,.54);
    font-size: 0.9375rem;
  }

  .article-author{
    font-size: 0.9375rem;
  }

  .article-info{
    span{
      display: inline-block;
      color: rgba(0,0,0,.54);
      font-size: 0.875rem;
      &:nth-child(2){
        margin-left: 5px;
      }
    }
  }

}

